@model CalorieAppTrack.Models.CalorieCalculatorModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CalorieCalculatorModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalorieIntake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalorieIntake)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
