@model CalorieAppTrack.Models.IdealWeightCalculatorModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IdealWeightCalculatorModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdealWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdealWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightToLoose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightToLoose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserModel.UserId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WeightId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
