@model CalorieAppTrack.Models.IdealWeightCalculatorModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IdealWeightCalculatorModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdealWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdealWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightToLoose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightToLoose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserModel.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WeightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
